In [9]:
import os
import networkx as nx
import community
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_dir = "../data"
os.listdir(data_dir)

['bus_stops_wszone.dbf',
 'bus_stops_wszone.shp',
 'OD_bus',
 'origin_destination_train_201912.csv.xz',
 'train_station_wszone.prj',
 'origin_destination_train_202001.csv.xz',
 'train_station_wszone.dbf',
 'OD_202001_weekend.csv.xz',
 'subzone_centroid.csv',
 'OD_201912_weekday.csv.xz',
 'origin_destination_bus_201911.csv.xz',
 'train_station_wszone.cpg',
 'OD_PT',
 'train_station_wszone.shx',
 'OD_201911_weekend.csv.xz',
 'origin_destination_train_201911.csv.xz',
 'subzone_centroid_pos.json',
 'origin_destination_bus_202001.csv.xz',
 'OD_201912_weekend.csv.xz',
 'origin_destination_bus_201912.csv.xz',
 'region-2014',
 'train_station_wszone.shp',
 'OD_train',
 'bus_stops_wszone.shx',
 'OD_202001_weekday.csv.xz',
 'bus_stops_wszone.prj',
 'subzone-2014',
 'net_202001_08.net',
 'OD_201911_weekday.csv.xz',
 'bus_stops_wszone.cpg']

In [3]:
with open(os.path.join("../data", 'subzone_centroid_pos.json'), 'r') as fread:
    pos = json.load(fread)
pos["MARINA SOUTH"]

[31595.83574613999, 29220.18737674884]

In [4]:
df1 = pd.read_csv(os.path.join(data_dir, 'OD_202001_weekday.csv.xz'))
df1.head()

,ind,origin,destination,hour_05,hour_06,hour_07,hour_08,hour_09,hour_10,hour_11,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,0,TAMPINES EAST,TAMPINES EAST,232925.0,1427066.0,2316704.0,1778107.0,1280905.0,1145098.0,1084878.0,...,1382846.0,1305843.0,1400255.0,1652029.0,2019632.0,1676532.0,1141877.0,984449.0,739684.0,391909.0
1,1,SENOKO NORTH,YISHUN CENTRAL,3560.0,14560.0,7020.0,6380.0,4740.0,4140.0,5820.0,...,10480.0,17540.0,22060.0,46820.0,55680.0,23640.0,16620.0,8300.0,4840.0,1940.0
2,2,FERNVALE,TRAFALGAR,2680.0,25980.0,19620.0,24980.0,14180.0,10240.0,8260.0,...,9060.0,10400.0,11820.0,18520.0,19040.0,12060.0,8360.0,7320.0,6780.0,3160.0
3,3,CHINATOWN,PORT,328.0,3482.0,1452.0,1084.0,1128.0,602.0,534.0,...,866.0,908.0,747.0,886.0,564.0,754.0,702.0,553.0,573.0,496.0
4,4,LAKESIDE,TAMAN JURONG,408.0,6854.0,12863.0,18283.0,7809.0,7015.0,6526.0,...,12956.0,23380.0,13425.0,15333.0,15933.0,8697.0,7677.0,4723.0,3355.0,1720.0

In [5]:
df1b = df1.dropna(subset=["origin", "destination"])

In [7]:
df1[["origin", "destination", "hour_08"]].head()

          origin     destination    hour_08
0  TAMPINES EAST   TAMPINES EAST  1778107.0
1   SENOKO NORTH  YISHUN CENTRAL     6380.0
2       FERNVALE       TRAFALGAR    24980.0
3      CHINATOWN            PORT     1084.0
4       LAKESIDE    TAMAN JURONG    18283.0

In [8]:
dg1_08 = nx.DiGraph()
for s,t,f in zip(df1b["origin"], df1b["destination"], df1b["hour_08"]):
    if s==t: continue
    dg1_08.add_edge(s,t,weight=f)
dg1_08.number_of_edges()

30910

In [10]:
partition = community.best_partition(dg1_08)

TypeError: Bad graph type, use only non directed graph